@mixin flex($direction, $align, $justify){
    display: flex;
    align-items: $direction;
    text-align: $align;
    justify-content: $justify;
}

@mixin responsive($screenWidth){
    @media(max-width: screenWidth){
        @content;
    }
}