//Colors
$loovi-blue: #4879ff;
$loovi-blue-2: #5d7dfd;
$type-blue: #514277;
$dark-blue: #3d3245;
$white: #f4f4f1;
$violet: #9072fd;
$dusty-violet: #6759a8;
$light-blue: #54dff8;
$turquoise: #45fdd6;
$gray100: #eff2f6;
$gray200: #b5b5b5;
$dark-blue-2: #3d2e45;

$loovi-blue-3: #4879ff;



$teste: #3d2e45;